.carousel-inner{
    max-width: 100%;
    height: auto;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #007399;
}

.carousel-indicators li {
    border-color: #007399;
}

.carousel-indicators li.active {
    background-color: #007399;
}