/* Menu */  
  .navbar {
	  
      margin-bottom: 50px;
      border-radius: 0;	  
	  font-family: Montserrat, sans-serif;
	  background-color: #2d2d30;
	  opacity: 0.95;
    }
.navbar-nav li.active a {
      color: #fff !important;
      background-color: #007a99 !important;
  }
.open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
  }
    
	
/* Modal */
.modal-dialog{
	margin-top: 10%;
}
.container{
	width:50%;
}

.main {
    width:100%;
  }
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
	margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
h3 {
    text-align: center;
    line-height: 300%;
  }
h4 {
    text-align: center;
    line-height: 300%;
  }
.modal-footer{
	margin:0;
}
.modal-dialog>.modal-content>.modal-header{
background-image: url('../images/solidar2.jpg');
opacity: 0.8;
text-align:center;
}
.modal-dialog>.modal-content>.modalh img{
    width: 100%;
    height: auto;
    opacity: 0.3;
}
.modal-dialog>.modal-content>.modalh p{
	font-size:17px;
	color:black;
}
/*heart span*/
.heart{
	font-size: 25px;
	color:red;
}
.tituloHeart{
	color: #00a3cc;
}
/*Conteudo dos eventos*/
.panel-body{
	width:100%;
	margin:0;
	padding:0;
}
/*div inspiração*/
.inspiracao{
	font-size:18px;
	color:#a6a6a6;
	font-style:italic;
}
.icons{
	font-size:60px;
	color: #00a3cc;
	padding-bottom:40px;
}
.inspiracaoContainer{
	margin-top:80px;
	margin-bottom:80px;
}

/*Margins*/
.marginTop80{
	margin-top:80px;
}
th {
	text-align:center;
}
/*Border stuff*/
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
	text-align:left;
	font-size:16px;
}

.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th,
.table-striped > tfoot > tr > td,
.table-striped > tfoot > tr > th,
.table-striped > thead > tr > td,
.table-striped > thead > tr > th {
	text-align:left;
}
.borderTop{
	border-top: 1px solid #cccccc;
	
}
.thBlue > tbody > tr > th{
	color:#007a99;
}

.navbar-brand > a > img{
	margin:0 auto;
	padding: 0 auto;
}
.navbar-brand{
	margin:0 auto;
	padding-top: 2px;

}

/* Add an orange color to all icons and set the font-size */
.logo-small {
    color: #00a3cc;
    font-size: 50px;
}

.logo {
    color: #00a3cc;
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
.jumbotron {
    background-color: #00a3cc;
    color: #fff;
    padding: 100px 25px;
}

.container-fluid {
    padding: 60px 50px;
}
.causesCont{
	padding:0px 300px 0px 300px;
	padding-left:30%;
}
.menuCont{
	padding: 0px 10px 0px 10px;
}
.bg-grey {
    background-color: #EDEFF1;
}
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      /*color: #818181;*/
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  } 
  
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

	

